body {
  background-color: #000000;
  font-family:  "Palatino Linotype", "Book Antiqua", serif;
  font-size: 1.7vw;
  line-height: 2.8vw;
}
a {
  display: inline-block;
  color: #888888;
  text-decoration: none;
  text-align: left;
  padding-left: 1vw;
  width: 100%;
}
.column {
  display: inline-block;
  width: 30vw;
  vertical-align: top;
}
.button {
  background-color: #111111;
  border-top: 0.1vw solid #888888;
  border-left: 0.5vw solid #888888;
  border-right: 0.5vw solid #888888;
}
.bottom {
  border-bottom: 0.5vw solid #888888;
  border-bottom-left-radius: 2vw;
  border-bottom-right-radius: 2vw;
  margin-bottom: 0.5vw;
}
.top {
  background-color: #888888;
  border-top-left-radius: 2vw;
  border-top-right-radius: 2vw;
  font-weight: bold;
  font-size: 2vw;
  color: #222222;
}
/* .utilities { background-color: #cccccc; }
.google { background-color: #cccccc; }
.contacts { background-color: #cccccc; }
.entertainment { background-color: #cccccc; }
.projects { background-color: #cccccc; }
.politics { background-color: #cccccc; }
.comics { background-color: #cccccc; }
.interests { background-color: #cccccc; } */